.list-transactions {
  margin: 0 auto;
  list-style: none;
  margin-top: 16px;
}

.list-transactions .btn-filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-transactions .btn-filters .btns {
  display: flex;
  gap: 6px;
}

.btn-filters .btns button {
  height: 40px;
  background-color: var(--color-grey-2);
  border: 1.4px solid var(--color-grey-2);
  border-radius: 8px;
  padding: 5px;
  cursor: pointer;
}

.btn-filters .btns button:hover,
.btn-filters .btns button:focus {
  background-color: var(--brand-1);
  color: white;
}
