.transaction {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-grey-1);
  padding: 16px;
  border: 1.4px solid var(--color-grey-2);
  border-radius: 8px;
  margin: 16px 0;
}

.border-green {
  border-left: 3px solid rgb(101, 199, 101);
}

.border-red {
  border-left: 3px solid red;
}

.transaction h4 {
  margin-bottom: 16px;
}

.transaction p {
  font-size: var(--title-4);
  color: var(--color-grey-3);
}

.transaction .value-remove {
  display: flex;
  gap: 8px;
  align-items: center;
}

.transaction .value-remove button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-grey-2);
  border: none;
  padding: 6px;
  cursor: pointer;
}

.no-card h2 {
  margin: 32px 0;
}

.no-card img {
  width: 100%;
  max-width: 560px;
}
