.header {
  height: 88px;
  display: flex;
  align-items: center;
  box-shadow: 1px 1px 10px var(--color-grey-2);
}

.div-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.div-header button {
  width: 64px;
  height: 40px;

  border: 1px solid var(--color-grey-2);
  border-radius: 8px;

  background-color: var(--color-grey-2);
  cursor: pointer;
}
